* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMonoNerdFontMono-Bold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
    border-radius: 10px;
    font-weight: bold;
}

window#waybar {
/*    background-color: rgba(43, 48, 59, 1);*/
/*   border-bottom: 0px solid rgba(100, 114, 125, 0); */
   border-bottom: 0px solid rgba(0, 0, 0, 0.5);
   background-color: #000000;
    border-radius: 0px;
    padding: 0px;
    transition-property: transparent;
    transition-duration: .5s;
    background: rgba(12, 12, 12, 0.0);
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
border-bottom: 0px solid rgba(0, 0, 0, 0.5);
   background-color: #000000;
    border-radius: 0px;
    padding: 0px;
    transition-property: transparent;
    transition-duration: .5s;
    background: rgba(12, 12, 12, 0.0);
}
window#waybar.solo {
 border-bottom: 0px solid rgba(0, 0, 0, 0.5);
   background-color: #ffffff;
    border-radius: 0px;
    padding: 0px;
    transition-property: transparent;
    transition-duration: .5s;
    background: rgba(12, 12, 12, 0.0);
}


window#waybar.termite {
    background-color: #000000;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
   /* box-shadow: inset 0 -3px transparent;*/
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
/*    box-shadow: inset 0 -3px #000000; */
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
   /* background-color: #a37800;*/
}

#workspaces button {
    padding: 2 5px;
    border-radius: 6px;
    margin:2 2px;
    background-color: #000000; 
    color: #ffffff;
 /*   opacity: 1; */
}

#workspaces button:hover {
   background: #000000;
   border-radius: 6px;
  /* padding:2 5px ;
   margin:1 1px;*/
/*   box-shadow: inset 0 -3px #000000;*/
}

#workspaces button.focused {
    background-color: #ffffff;
    color: #000000;
    border-radius: 6px;
    padding: 2 5px;
    margin:2 2px;
    /* box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    border-radius: 6px;
    margin:2 2px;
}

#mode {
    background-color: #7fbaf0;    
    border-radius: 6px;
   /* box-shadow: inset 0 -3px #ffffff;*/
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-avatar,
/* #power-profiles-daemon,*/
#bandwidth_mon,
#mpd {
    padding: 5 6px;
    margin:  8 5px;
    color: #000000;
}

#window,
#workspaces {
  /*  padding:5 6px ;*/
    margin: 6 2px;    
    border-radius: 6px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #000000;
    color	: #ffffff;
    margin	: 8 5px;
    border-radius: 6px;
}

#window {
    background-color: #000000;
    color	: #ffffff;
    margin	: 8 5px;
    padding	:0  10px;
    border-radius: 6px;
}


#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-avatar {
    background-color: #000000;
    color	: #ffffff;
    margin	: 8 5px;
    border-radius: 6px;
}
#custom-wheather {
    background-color: #000000;
    color	: #ffffff;
    margin	: 8 5px;
    padding	: 4px;
    border-radius: 6px;
}



/*#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}
*/
label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #000000;
    color	: #ffffff;
    margin	: 8 5px;
    border-radius: 6px;

}

#memory {
    background-color: #000000;
    color	: #ffffff;
    margin	: 8 5px;
    border-radius: 6px;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #000000;
    color	:     #ffffff;
    padding: 0 19px;
    margin:  8 4px;
    border-radius: 6px;
}

#network.disconnected {
    background-color: #f53c3c;
    border-radius: 6px;   
}

#bandwidth_mon {
    background-color: #ffffff;
    color	:     #000000;
    padding: 0 19px;
    margin:  8 4px;
    border-radius: 6px;
}

#pulseaudio {
    background-color: #000000;
    color: #ffffff;
    border-radius: 6px;
}

#pulseaudio.muted {
    background-color: #000000;
    color: #ffffff;
    border-radius: 6px;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #000000;
    color: #ffffff;
  /*  border-radius: 0px; */
    padding: 0 12px;
    margin:  8 4px;
    border-radius: 6px;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 6 2px;
    min-width: 16px;    
    border-radius: 6px;
}

/*#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}*/

#scratchpad {
  /*  background: rgba(0, 0, 0, 1);*/
    background-color: #000000;
    padding: 5 6px;
    margin:  8 5px;
    color: #ffffff;    
    border-radius: 6px;
}
#scratchpad.empty {
    padding: 5 6px;
    margin:  8 5px;
    color: #ffffff;
    background-color: #000000;    
    border-radius: 6px;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
